@using Microsoft.AspNetCore.Identity
@using PositionTracking.Data
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject LanguageDictionary _dictionary

@{
    var langOptions = new SelectList(Enum.GetValues(typeof (Languages)), "Lang", "lang");
    var langOptions1 = new SelectList(new[] { "en", "hr" },"lang");
}

<ul class="navbar-nav" id="lang">
    <li>
        <form id="LanguageForm" runat="server" asp-controller='Home' asp-action='ChangeLanguage'>
        @*<asp:DropDownList ID="DropDownList1" runat="server" AutoPostBack ="true" OnSelectedIndexChanged ="ChangeLanguage">
        <asp:ListItem Text ="Please Select" Value = ""></asp:ListItem> 
        <asp:ListItem Text ="English" Value ="@PositionTracking.Data.Languages.en"></asp:ListItem> 
        <asp:ListItem Text ="Croatian" Value ="@PositionTracking.Data.Languages.hr"></asp:ListItem> 
        </asp:DropDownList>*@
        @*<select name="lang">
            <option id="english" value='@PositionTracking.Data.Languages.hr'>English</option>
            <option id="croatian" value='@PositionTracking.Data.Languages.hr'>Croatian</option>
        </select>
        <button type="submit">submit language</button>*@
        </form>

        @using (Html.BeginForm("ChangeLanguage", "Home", FormMethod.Post, new { id = "LanguageForm" })){

          @Html.DropDownList(
            "Language", 
           langOptions1, 
            "--Select language--",
            new{onChange = "this.form.submit()"}
            )
        } 
        
    </li>


    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    @_dictionary.Translate("Account", PositionTracking.Data.Languages.hr)
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <h6 class="dropdown-header">@User.Identity.Name</h6>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AccountSettings">@_dictionary.Translate("Settings", PositionTracking.Data.Languages.hr)</a>
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-item">
                        <form class="form-inline" asp-controller="Account" asp-action="SignOut">
                            <button type="submit" class="nav-link btn btn-link text-dark p-0">@_dictionary.Translate("Logout", PositionTracking.Data.Languages.hr)</button>
                        </form>
                    </div>
                </div>
            </div>




        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="SignIn">@_dictionary.Translate("Login", PositionTracking.Data.Languages.hr)</a>
        </li>
    }
</ul>


