@model AccountSettingsViewModel
@{

    Layout = "_AccountLayout";
    ViewData["Title"] = "AccountSettings";
}
@inject LanguageDictionary _dictionary

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>


<div class="container-fluid">

    <div class="text-center">
        <h1 class="display-4">@_dictionary.Translate("Account Settings", PositionTracking.Data.Languages.hr)</h1>
    </div>

    <br>

    <h2> E-mail </h2>

    <div>
        @User.Identity.Name
    </div>

    <br>
    <br />
    <br />
    <form>
        <label for="languageFormControlSelect">@_dictionary.Translate("Language", PositionTracking.Data.Languages.hr):</label>
        <button type="submit" class="nav-link btn btn-link text-dark p-0">EN</button>
        <button type="submit" class="nav-link btn btn-link text-dark p-0">HR</button>


        <h4> @_dictionary.Translate("Old Password", PositionTracking.Data.Languages.hr):</h4>
        <input value="" size="25" type="text" /> <br />

        <h4> @_dictionary.Translate("New Password", PositionTracking.Data.Languages.hr): </h4>
        <input value="" size="25" type="text" /> <br />

        <h4>@_dictionary.Translate("Confirm New Password", PositionTracking.Data.Languages.hr):</h4>

        <input value="" size="25" type="text" /> <br /> <br />
        <button type="button" class="btn btn-outline-primary">@_dictionary.Translate("Update Password", PositionTracking.Data.Languages.hr)</button>
    </form>




    <br>
    <br>

    <div class="deleteAccount">
        <h2>@_dictionary.Translate("Delete your account", PositionTracking.Data.Languages.hr)</h2>
        <h5>Deleting an account has the following effects: ...</h5>
        <button type="button" class="btn btn-outline-danger">@_dictionary.Translate("Delete Account", PositionTracking.Data.Languages.hr)</button>

    </div>

</div>

