@model KeywordsViewModel
@using PositionTracking.Data
@using PositionTracking.Extensions
@{
    Languages language = Context.GetLanguage();
    Layout = "_ProjectLayout";
    ViewData["Title"] = _dictionary.Translate("Keywords", language);;

}
@inject LanguageDictionary _dictionary


<input id="getRankUrl" type="hidden" value="@Model.GetRankUrl" />

<!-- u app setingsu definirat refresh URL

    settings prosljedit u kontroler preko dependecy injection,(iconfiguration)
    iuconfiguration(interface koji predstavlja appsettings file)

    uzimamo propertye iz settingsa

    kako preko jquerya procitat tu vrijednost iz htmla i zaljepoit u ajax -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@_dictionary.Translate("Add Keyword", language)</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Home" asp-action="AddKeyword">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">@_dictionary.Translate("Keyword", language)</label>
                        <input type="text" class="form-control" name="Value">
                    </div>
                    <div class="form-group">
                        <label for="languageFormControlSelect">@_dictionary.Translate("Language", language)</label>
                        <select class="form-control" name="Language">
                            @foreach (var value in Enum.GetValues<Languages>())
                            {
                                <option value="@language">@language.GetDisplayName()</option>
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="locationFormControlSelect">@_dictionary.Translate("Location", language):</label>
                        <select class="form-control" name="Location">
                            @foreach (var country in Enum.GetValues<Countries>())
                            {
                                <option value="@country">@country.GetDisplayName()</option>
                            }
                        </select>
                    </div>

                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_dictionary.Translate("Close", language)</button>
                    <button type="submit" class="btn btn-primary">@_dictionary.Translate("Add Keyword", language)</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Keyword</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form asp-controller="Home" asp-action="EditKeyword">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">@_dictionary.Translate("Keyword", language)</label>
                        <input type="text" class="form-control" name="Value" placeholder="New Value">
                    </div>
                    <div class="form-group">
                        <label for="languageFormControlSelect">@_dictionary.Translate("Language", language)</label>
                        <select class="form-control" name="Language">
                            @foreach (var value in Enum.GetValues<Languages>())
                            {
                                <option value="@language">@language.GetDisplayName()</option>
                            }
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="locationFormControlSelect">@_dictionary.Translate("Location", language):</label>
                        <select class="form-control" name="Location">
                            @foreach (var country in Enum.GetValues<Countries>())
                            {
                                <option value="@country">@country.GetDisplayName()</option>
                            }
                        </select>
                    </div>

                    <input id="keywordId" type="hidden" name="Id" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">@_dictionary.Translate("Close", language)</button>
                    <button type="submit" class="btn btn-primary">Edit Keyword</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="text-right">
    <button id="addKeyword" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        @_dictionary.Translate("Add Keyword", language)
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">@_dictionary.Translate("Keyword", language)</th>
            <th scope="col">@_dictionary.Translate("Language-Location", language)</th>
            <th scope="col">@_dictionary.Translate("Rating", language)</th>
            <th> </th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var keyword in Model.Keywords)
        {
        <tr>
            <td>
                <a asp-controller="Home"
                   asp-action="KeywordDetail"
                   asp-route-id="@keyword.Id">@keyword.Value</a>
            </td>
            <td>@keyword.LanguageLocation</td>
            <td>#@keyword.Rating</td>
            <td>
                <button type="button" class="btn btn-outline-dark btn-refresh btn-spinner" data-id="@keyword.Id">
                    <span class="spinner-icon spinner-border spinner-border-sm " role="status" aria-hidden="true"></span>
                    <span class="spinner-text">
                        @_dictionary.Translate("Refresh", language)
                    </span>
                </button>
            </td>
            <td>
                <form class="form-confirm" asp-controller="Home" asp-action="DeleteKeyword">
                    <input type="hidden" value="@keyword.Id" name="Id" />
                    <button type="submit" class="btn btn-outline-danger">@_dictionary.Translate("Remove", language)</button>
                </form>
            </td>
            <td>
                <button id="editKeyword" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2" onclick="()=>handleEdit()">
                    edit Keyword
                </button>
            </td>
        </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    function handleEdit() {
        console.log('test')
        document.getElementById("keywordId").value = 'test'
    }
</script>
