@model KeywordTableViewModel
@inject LanguageDictionary _dictionary
@using PositionTracking
@using PositionTracking.Data
@using PositionTracking.Extensions
@using PositionTracking.Models
@{
    Languages language = Context.GetLanguage();
    //ViewData["Title"] = _dictionary.Translate("UserProjects",language);
    ViewData["Title"] = "Keyword Table";
    
}

@inject LanguageDictionary _dictionary

<div class="text-center">
    <h1 class="display-4">
        @ViewData["Title"]
    </h1>
    <a asp-controller="Home"
       asp-action=""
       asp-route-id="">
    <button id="addProject" type="button" class="btn btn-primary" >
        Generate PDF
    </button>
    </a>
</div>


        @foreach (var keyword in Model.keywords)
         {
<table class="table table-striped">
    <thead>
        <tr>
            <th>Keyword: @keyword.Value</th>
            <th>Rank</th>
            <th>Date</th>
            <th>Language</th>
            <th>Location</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var rating in keyword.Ratings)
        {
        <tr>
            <td>@rating.SearchEngine</td>
            <td>@rating.Rank</td>
            <td>@rating.TimeStamp</td>
            <td>@keyword.Language</td>
            <td>@keyword.Location</td>
            
            </tr>
        }
    </tbody>

</table>

        }