@model MembersViewModel
@using PositionTracking.Data
@{
    ViewData["Title"] = "Members";
    Layout = "_ProjectLayout";
}

<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Member</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="Home" asp-action="AddMember">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Member e-mail:</label>
                        <input type="text" class="form-control" id="recipient-name" name="MemberEmail">
                    </div>
                    <div>
                        <label for="locationFormControlSelect">Member Role:</label>
                        <select class="form-control" id="locationFormControlSelect" name="UserRole">
                            @foreach (var role in Enum.GetValues<UserRole>())
                            {
                                <option>@role</option>
                            }
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Member</button>
                    </div>
                    <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="text-right">
    <button id="addMember" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addMember">
        Add Member
    </button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">e-mail</th>
            <th scope="col">Role</th>
            <th>

            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Members)
            {
                <tr>
                    <td>@item.MemberName</td>
                    <td>@item.Email</td>
                    <td>@item.PermissionType</td>
                    <td> 
                        @if (Model.Members.Count > 1)
                        {
                         <form class="form-confirm" asp-controller="Home" asp-action="RemoveMember">
                             <input type="hidden" value="@item.Email" name="memberEmail" />
                             <input type="hidden" value="@Model.ProjectId" name="projectId" />
                             <button type="submit" class="btn btn-outline-danger">Remove</button>
                         </form>
                        }
                    </td>
                </tr>
            }
        
    </tbody>
</table>