@model ProjectsViewModel
@inject LanguageDictionary _dictionary 
@{
    ViewData["Title"] = _dictionary.Translate( "Projects",PositionTracking.Data.Languages.hr);
}



<div class="modal fade" id="addProjectModal" tabindex="-1" role="dialog" aria-labelledby="addProjectModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form asp-controller="Home" asp-action="AddProject">

                <div class="modal-body">

                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Project Name:</label>
                        <input type="text" class="form-control" name="ProjectName">
                        <label for="recipient-name" class="col-form-label">Project Domain:</label>
                        <input type="text" class="form-control" name="Domain">
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add Project</button>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-right">
    <button id="addProject" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProjectModal">
        Add Project
    </button>
</div>



<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Project Name</th>
            <th scope="col">Number of Keywords</th>
            <th scope="col">Rating Change</th>
            <th scope="col">Users Role</th>
        </tr>
    </thead>






    <tbody>
        @foreach (var project in Model.Projects)
        {
            <tr>
                <td>
                    <a asp-controller="Home"
                       asp-action="Keywords"
                       asp-route-id="@project.Id"> @project.Name</a>
                </td>


                <td>@project.NumerOfKeywords</td>
                <td> </td>
                <td>@project.Role</td>

            </tr>
        }
    </tbody>
</table>