@model ProjectSettingsViewModel
@using PositionTracking.Data
@{
    Languages language = Context.GetLanguage();
    ViewData["Title"] = _dictionary.Translate("Project Settings",language);
    Layout = "_ProjectLayout";
}
@inject LanguageDictionary _dictionary



<div class="container-fluid">

    <div class="text-center">
        <h1 class="display-4">@_dictionary.Translate("Project Settings", language)</h1>
    </div>

    <br>
    <img src />
    <br>


    <h2> @_dictionary.Translate("Project name", language)</h2>
    <div class="projectName">
        <form class="form-confirm" asp-controller="Home" asp-action="EditProject">
            <input value="@Model.ProjectName" name="ProjectName" size="30" type="text" />

            <br />
            <br />

            <h2> @_dictionary.Translate("Change Domain", language) </h2>
            <input value="@Model.Domain" name="Domain" size="30" type="text" /> <br />
            <br />
            <input type="hidden" value="@Model.ProjectId" name="ProjectId" />
            <button type="submit" class="btn btn-outline-primary">@_dictionary.Translate("Save", language)</button>
        </form>
    </div>

    <br />

    <div>
        <h2> @_dictionary.Translate("Project Image", language)</h2>
    </div>
    @using (Html.BeginForm("UploadProjectImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="files" id="ImageData" onchange="fileCheck(this);" />
        <button type="submit" class="btn btn-outline-primary">@_dictionary.Translate("Save", language)</button>
        <input type="hidden" name="projectId" value="@Model.ProjectId"/>
    }
    <br />

    <div class="deleteProject">

        <h3>Deleting a project will have the following effects: ...</h3>
        <form class="form-confirm" asp-controller="Home" asp-action="DeleteProject">
            <input type="hidden" value="@Model.ProjectId" name="Id" />
            <button type="submit" class="btn btn-outline-danger">@_dictionary.Translate("Remove", language)</button>
        </form>
    </div>

</div>



